<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/image/Logo.png" type="image">
    <title>Área do Profissional</title>
    <link rel="stylesheet" href="/static/styles/cadastro.css">
</head>
<body>
    <main>
        <div class="container">
            <section class="ladoesquerdo">
                <h1>ÁREA DO PROFISSIONAL</h1>
                <img src="/static/image/img_AreaProf/areaprofissional1.jpg" alt="onibusmedico">
                <p>Saúde mais perto de você</p>
                <a href="index.html">Voltar ao Site</a>
            </section>

            <section class="ladodireito">
                <h1>Entrar no sistema</h1>

                <form>
                    <div class="form-group">
                        <label for="usuario">Crm</label>
                        <input type="text" placeholder="Digite seu crm">
                    </div>
                      <div class="form-group">
                        <label for="usuario">Email</label>
                        <input type="email" placeholder="Digite seu email">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" placeholder="Digite sua senha">
                    </div>
                    <div class="checkbox-group">
                        <div>
                        <input type="checkbox">
                        <label for="lembrar">Lembrar-me</label>
                        </div>
                        <a href="#">Esqueceu a senha?</a>
                        
                    </div>
                    
                    <button class="btn-default" type="submit">Entrar</button>

                    <p>Quer fazer parte do nosso time? <a href="cadastroarea.html">Cadastre aqui</a></p>
                </form>
            </section>
        </div>
    </main>
</body>
</html>