<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/image/Logo.png" type="image">
    <title>Convênios</title>
    <link rel="stylesheet" href="/static/styles/convenios.css">
</head>

<body>
    <header>
        <nav>
            <h1>Uny + Perto</h1>
            <div class="mobile-menu" id="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="areaprofissional.html">Área do Profissional</a></li>
                <li><a href="convenios.html">Convênios</a></li>
                <li><a href="resultado.html">Resultados</a></li>
                <li><a href="login.html" class="login-btn">Login/Cadastrar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="introducao">
            <h2>Convênios Atendidos pela Uny+perto</h2>
            <p>Seja bem-vindo(a) à nossa página de convênios! Na Uny+perto, estamos comprometidos em levar saúde de
                qualidade e acessível até você, com a comodidade de um posto de saúde móvel.</p>
        </section>

        <section class="informativo">
            <p><strong>Lembrete Importante:</strong> Todos os convênios listados cobrem 100% o valor de todas as consultas. A cobertura dos exames é conforme o plano individual</p>
        </section>

        <section class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>Convênio</th>
                        <th>Exames Clínicos Realizados (geralmente cobertos 100%)</th>
                        <th>Exames e Procedimentos NÃO Cobertos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/static/image/img_convenio/Unimed.jpg" alt="Unimed"></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Ureia e Creatinina, TGO e TGP, Urina Tipo
                            1,
                            Parasitológico de Fezes, TSH, T4 Livre, Insulina, Beta HCG (Beta), Vitamina B12, Vitamina
                            B9, Vitamina C,
                            Vitamina D, Vitamina A, Vitamina K, Vitamina E, Sódio, Ferro, Zinco, Cobre, Fósforo, Cálcio
                            Total, DNA,
                            Ferritina, Transferrina, Lipase, HIV, Tipagem Sanguínea, PCR, Contagem de Plaquetas,
                            Reticulócitos e
                            outros.
                        </td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/img_convenio/piramede.jpg" alt="piramede"></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Ureia e Creatinina, TGO e TGP, Urina Tipo
                            1.</td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/img_convenio/Hapvida.jpg" alt=""></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Ureia e Creatinina, TGO e TGP, Urina Tipo
                            1,
                            Parasitológico de Vitamina B e E, Vitamina D, TSH, T4 Livre.</td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/img_convenio/Cemig.jpg" alt="Cemig"></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Ureia e Cobre, Vitamina A, Vitamina K,
                            Vitamina E.</td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/img_convenio/Ipsemg.jpg" alt=""></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Ureia e Creatinina, TGO e TGP, Urina Tipo
                            1,
                            Parasitológico de Vitamina B e E, Vitamina D, TSH, T4 Livre.</td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/img_convenio/Paz_Universal.jpg" alt=""></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Ureia e Creatinina, TGO e TGP, Urina
                            Tipoamina E.</td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/img_convenio/Bradesco.jpg" alt=""></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Ureia e Creatinina, TGO e TGP, Urina Tipo
                            1,
                            Parasitológico de Vitamina B e E, Vitamina D, TSH, T4 Livre.</td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/img_convenio/SulAmerica.jpg" alt=""></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Ureia e Cálcio Total, Contagem de
                            Reticulócitos.</td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/img_convenio/Brf.jpg" alt=""></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Ureia e Creatinina, TGO e TGP, Urina
                            Tipoamina E.</td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/img_convenio/Amil.jpg" alt=""></td>
                        <td>Hemograma, Glicemia, Colesterol e Triglicerídeos, Fosforo, Cálcio Total, Contagem de
                            Plaquetas.</td>
                        <td>Exames Admissional e Demissional (Estes são de responsabilidade da EMPRESA).</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-sobre">
                <h3>Uny + Perto</h3>
                <p>Levando saúde e cuidado até quem mais precisa através do nosso hospital móvel.</p>
            </div>
            <nav class="footer-navegacao" aria-label="Navegação do rodapé">
                <ul>
                    <h3>Navegação</h3>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="sobre.html">Sobre Nós</a></li>
                    <li><a href="servicos.html">Serviços</a></li>
                    <li><a href="#">Agendamentos</a></li>
                </ul>
            </nav>
            <address class="footer-contato">
                <h3>Contato</h3>
                <p><i class="fa-solid fa-phone"></i> (34) XXXX-XXXX</p>
                <p><i class="fa-solid fa-envelope"></i> <a
                        href="mailto:contato@unyperto.com.br">contato@unyperto.com.br</a>
                </p>
                <div class="social-icons">
                    <a href="#" title="Instagram" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" title="WhatsApp" target="_blank" rel="noopener"><i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="#" title="WhatsApp" target="_blank" rel="noopener"><i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </address>
        </div>
        <div class="footer-bottom">
            &copy; 2025 Uny + Perto. Todos os direitos reservados.
        </div>
    </footer>

    <script src="/static/js/script.js"></script>
</body>

</html>
