<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Uny+Perto</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
    <header>
        <nav>
            <h1>Uny + Perto</h1>
            <div class="mobile-menu" id="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="areaprofissional.html">Área do Profissional</a></li>
                <li><a href="convenios.html">Convênios</a></li>
                <li><a href="resultado.html">Resultados</a></li>
                <li><a href="login.html" class="login-btn">Login/Cadastrar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="home">
            <div class="home-image">
                <img src="../static/image/Logo.png" alt="Imagem do ônibus médico móvel">
            </div>
            <div class="home-text">
                <h2>Saúde mais perto de Você</h2>
                <button>Veja onde estamos</button>
            </div>
        </section>
        <section class="previaservicos">
            <div class="cards">
                <a href="servicos.html" class="card">
                    <div class="card-icon">
                        <i class="fa-solid fa-syringe"></i>
                    </div>
                    <h3 class="card-title">Serviços</h3>
                    <p class="card-description">Nossos serviços</p>
                </a>
                <a href="#" class="card">
                    <div class="card-icon">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    <h3 class="card-title">Agendamentos</h3>
                    <p class="card-description">Agende aqui</p>
                </a>
                <a href="localizacao.html" class="card">
                    <div class="card-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <h3 class="card-title">Localização</h3>
                    <p class="card-description">Nossos Locais</p>
                </a>
                <a href="sobre.html" class="card">
                    <div class="card-icon">
                        <i class="fa-solid fa-comment"></i>
                    </div>
                    <h3 class="card-title">Sobre</h3>
                    <p class="card-description">Quem Somos</p>
                </a>
            </div>
        </section>
        <section class="locprev">
            <div class="loctext">
                <h2>Onde Estamos Agora</h2>
                <button>Ver Mapa</button>
            </div>
            <div class="mapaprev">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1136.7707379841536!2d-48.28200548156058!3d-18.91297154832129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-BR!2sbr!4v1758829936710!5m2!1spt-BR!2sbr"
                    aria-hidden="false" loading="lazy"></iframe>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-sobre">
                <h3>Uny + Perto</h3>
                <p>Levando saúde e cuidado até quem mais precisa através do nosso hospital móvel.</p>
            </div>
            <nav class="footer-navegacao" aria-label="Navegação do rodapé">
                <ul>
                    <h3>Navegação</h3>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="sobre.html">Sobre Nós</a></li>
                    <li><a href="servicos.html">Serviços</a></li>
                    <li><a href="#">Agendamentos</a></li>
                </ul>
            </nav>
            <address class="footer-contato">
                <h3>Contato</h3>
                <p><i class="fa-solid fa-phone"></i> (34) XXXX-XXXX</p>
                <p><i class="fa-solid fa-envelope"></i> <a href="mailto:contato@unyperto.com.br">contato@unyperto.com.br</a>
                </p>
                <div class="social-icons">
                    <a href="#" title="Instagram" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" title="WhatsApp" target="_blank" rel="noopener"><i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="#" title="Facebook" target="_blank" rel="noopener"><i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </address>
        </div>
        <div class="footer-bottom">
            &copy; 2025 Uny + Perto. Todos os direitos reservados.
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
</body>

</html>