<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/image/Logo.png" type="image">
    <link rel="stylesheet" href="/src/styles/login.css">
</head>
<body>
    <main>
        <div class="container">
            <section class="ladoesquerdo">
                <h1>ÔNIBUS MÉDICO MÓVEL</h1>
                <img src="/image/Logo.png" alt="onibusmedico">
                <p>Saúde mais perto de você</p>
                <a href="/index.html">Voltar ao Site</a>
            </section>

            <section class="ladodireito">
                <h1>Entrar no sistema</h1>

                <form>
                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input type="text" placeholder="Digite seu usuário">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" placeholder="Digite sua senha">
                    </div>
                    <div class="checkbox-group">
                        <div>
                        <input type="checkbox">
                        <label for="lembrar">Lembrar-me</label>
                        </div>
                        <a href="#">Esqueceu a senha?</a>
                    </div>
                    
                    <button class="btn-default" type="submit">Entrar</button>

                    <p>Não possui uma conta? <a href="cadastro.html">Cadastre aqui</a></p>
                </form>
            </section>
        </div>
    </main>
</body>
</html>