<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="../static/styles/sobre.css">
</head>

<body>
    <header>
        <nav>
            <h1>Uny + Perto</h1>
            <div class="mobile-menu" aria-label="Menu de navegação">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="areaprofissional.html">Área do Profissional</a></li>
                <li><a href="convenios.html">Convênios</a></li>
                <li><a href="resultado.html">Resultados</a></li>
                <li><a href="login.html" class="login-btn">Login/Cadastrar</a></li>
            </ul>
        </nav>
    </header>

    <section class="sobre-apresentacao">
        <h2>QUEM<br><span>SOMOS?</span></h2>
    </section>
    

    <main>
        
        <section class="sobre-texto">
            <p>
                A Uny+Perto nasceu com o propósito de levar saúde e cuidado até quem mais precisa. 
                Somos um projeto inovador que transforma um ônibus em um hospital móvel, oferecendo 
                atendimentos médicos gratuitos, humanos e acessíveis. Nosso objetivo é reduzir as 
                barreiras entre a população e o acesso à saúde, aproximando os serviços de quem mais 
                precisa e que muitas das vezes, não consegue chegar até eles.
            </p>
            <p>
                A ideia surgiu a partir da observação de uma realidade comum: muitas pessoas deixam 
                de cuidar da saúde por falta de acesso, tempo ou condições financeiras. Pensando nisso, 
                criamos uma forma prática e acolhedora de levar o atendimento até as comunidades — com 
                estrutura, conforto e profissionais capacitados.
            </p>
            <p>
                É mais que um serviço, a Uny+Perto é um movimento de empatia e transformação. 
                Acreditamos que cuidar é um ato de amor, e que a saúde deve ser um direito real, 
                não um privilégio. Nossa missão é estar cada vez mais perto das pessoas, levando 
                dignidade, esperança e bem-estar por onde passamos.
            </p>
        </section>
        
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-sobre">
                <h3>Uny + Perto</h3>
                <p>Levando saúde e cuidado até quem mais precisa através do nosso hospital móvel.</p>
            </div>
        
            <div class="footer-navegacao">
                <h3>Navegação</h3>
                <a href="index.html">Início</a>
                <a href="sobre.html">Sobre Nós</a>
                <a href="servicos.html">Serviços</a>
                <a href="#">Agendamentos</a>
            </div>
            <div class="footer-contato">
                <h3>Contato</h3>
                <p><i class="fa-solid fa-phone"></i> (34) XXXX-XXXX</p>
                <p><i class="fa-solid fa-envelope"></i> contato@unyperto.com.br</p>
                
                <div class="social-icons">
                    <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" title="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </footer>
 <script src="../static/js/script.js"></script>
</body>
</html>