<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacinação</title>
    <link rel="stylesheet" href="/static/styles/vacinas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/static/image/Logo.png" type="image">
</head>

<body>
    <header>
        <nav>
            <h1>Uny + Perto</h1>
            <div class="mobile-menu" id="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="areaprofissional.html">Área do Profissional</a></li>
                <li><a href="convenios.html">Convênios</a></li>
                <li><a href="resultado.html">Resultados</a></li>
                <li><a href="login.html" class="login-btn">Login/Cadastrar</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="card">
            <h2>VACINAÇÃO</h2>

            <div class="tabs">
                <button class="tab active">VACINAS OFERECIDAS</button>
                <button class="tab">MINHA VACINAÇÃO</button>
            </div>

            <div class="vacinas">
                <div class="vacina tomada">Covid-19</div>
                <div class="vacina tomada">Hepatite B</div>
                <div class="vacina nao-tomada">Hepatite A</div>
                <div class="vacina nao-tomada">Febre Amarela</div>
                <div class="vacina nao-tomada">DTP</div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-sobre">
                <h3>Uny + Perto</h3>
                <p>Levando saúde e cuidado até quem mais precisa através do nosso hospital móvel.</p>
            </div>
            <nav class="footer-navegacao" aria-label="Navegação do rodapé">
                <ul>
                    <h3>Navegação</h3>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="sobre.html">Sobre Nós</a></li>
                    <li><a href="servicos.html">Serviços</a></li>
                    <li><a href="#">Agendamentos</a></li>
                </ul>
            </nav>
            <address class="footer-contato">
                <h3>Contato</h3>
                <p><i class="fa-solid fa-phone"></i> (34) XXXX-XXXX</p>
                <p><i class="fa-solid fa-envelope"></i> <a
                        href="mailto:contato@unyperto.com.br">contato@unyperto.com.br</a>
                </p>
                <div class="social-icons">
                    <a href="#" title="Instagram" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" title="WhatsApp" target="_blank" rel="noopener"><i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="#" title="Facebook" target="_blank" rel="noopener"><i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </address>
        </div>
        <div class="footer-bottom">
            &copy; 2025 Uny + Perto. Todos os direitos reservados.
        </div>
    </footer>
    <script src="/static/js/script.js"></script>
</body>

</html>